body{

margin:0;

background:#20160f;

font-family:Arial;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.login{

background:#f0e2bb;

padding:40px;

border-radius:15px;

width:350px;

box-shadow:0 0 25px rgba(0,0,0,.4);

}

.login h1{

text-align:center;

color:#7b1f18;

}

.login h2{

text-align:center;

margin-bottom:20px;

}

input{

width:100%;

padding:15px;

margin-bottom:15px;

box-sizing:border-box;

}

button{

width:100%;

padding:15px;

margin-top:10px;

cursor:pointer;

border:none;

border-radius:8px;

background:#8b2d1f;

color:white;

font-size:16px;

}
